@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sintony:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply bg-[#001B60] transition-all duration-300 min-h-14 cursor-pointer text-white font-bold p-4 border-[1px] border-transparent rounded font-poppins;
    }

    .btn:hover {
        @apply bg-[#001241];
    }

    .btn:disabled {
        @apply bg-gray-500 cursor-not-allowed;
    }

    .btn-transparent {
        @apply bg-transparent text-center transition ease-in-out rounded-md border-[1px] p-4;
    }

    .btn-transparent:hover {
        @apply border-gray-400;
    }

    .btn-danger {
        @apply btn bg-red-500;
    }

    .btn-danger:hover {
        @apply bg-red-600;
    }

    .input-base {
        @apply border-0 border-b-2 h-14 px-4 outline outline-0 w-72 rounded
    }

    .input-default {
        @apply input-base border-gray-400 bg-gray-100 text-black;
    }

    .input-transparent {
        @apply input-base border-white placeholder-white bg-transparent text-white;
    }

    .gradient {
        @apply bg-gradient-to-r from-[#001B60] to-[#002b99] text-white;
    }

    .btn-gradient {
        @apply btn gradient;
    }

    .btn-gradient:hover {
        @apply bg-gradient-to-r from-[#001447] to-[#002480];
    }

    .btn-gradient:disabled {
        @apply bg-gradient-to-r from-[bg-gray-500] cursor-not-allowed;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Add this to your CSS file */
.ck-content h1 {
    font-size: 2em;
}

.ck-content h2 {
    font-size: 1.75em;
}

.ck-content h3 {
    font-size: 1.5em;
}

.ck-content h4 {
    font-size: 1.25em;
}

.ck-content h5 {
    font-size: 1em;
}

.ck-content h6 {
    font-size: 0.875em;
}